<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/i/favicon.ico">
    <link rel="stylesheet" href="/static/assets/adm.css" type="text/css">
    <title>Admin portal</title>
</head>
<body>
    <div id="admin-ui">
        <h1>Admin portal</h1>
        <a href="/">Home</a>
        <hr>
        <div id="upload-status">
            Uploads: Unlocked
        </div>
        <button onclick="toggleLock();" id="lock-button">Lock uploads</button>
        <h3>Pages:</h3>
        <div id="page-list-div">
            <table id="page-table">

            </table>
            <br>
        </div>
        <h3>Banned IP hashes:</h3>
        <div id="banned-ip-list-div">
            <table id="ban-table">
            </table>
            <br>
        </div>
        <h3>Images:</h3>
        <div id="image-list-div">
            <table id="img-table">
            </table>
            <br>
        </div>
    </div>
    <script src="/static/assets/admin_portal.js"></script>
</body>
</html>