<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/static/i/favicon.ico">
        <link rel="stylesheet" href="/static/assets/mspa.css" type="text/css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navbar -->
        <div id="mspa-nav">
            <a href="/" style="color: #ffffff">MS PAINT ADVENTURES</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #29ff4a">ARCHIVE</a> | <a href="./" style="color: #29ff4a">NEW READER?</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #39d5f6">MAP</a> | <a href="./" style="color: #39d5f6">LOG</a> | <a href="./" style="color: #39d5f6">SEARCH</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #f7f72a">SHOP</a> | <a href="./" style="color: #f7f72a">MUSIC</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #ffb529">FORUMS</a> | <a href="./" style="color: #ffb529">SECRETS</a> | <a href="./" style="color: #ffb529">CREDITS</a>
        </div>
        <!-- Main comic -->
        <div id="main">
            <div id="content">
                {% block comic_content %}There's nothing here!{% endblock %}
            </div>
        </div>
        <!-- Footer -->
        <div class="bottombanner"><img src="/static/assets/i/bannerframe.png"></div>
        <div id="mspa-nav">
            <a href="/" style="color: #ffffff">MS PAINT ADVENTURES</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #29ff4a">ARCHIVE</a> | <a href="./" style="color: #29ff4a">NEW READER?</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #39d5f6">MAP</a> | <a href="./" style="color: #39d5f6">LOG</a> | <a href="./" style="color: #39d5f6">SEARCH</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #f7f72a">SHOP</a> | <a href="./" style="color: #f7f72a">MUSIC</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #ffb529">FORUMS</a> | <a href="./" style="color: #ffb529">SECRETS</a> | <a href="./" style="color: #ffb529">CREDITS</a>
        </div>
        <div class="footer">
            <img src="/static/assets/i/title.png">
            &emsp;&nbsp;ghostopal @ 2025
        </div>
        <script src="/static/assets/mspa.js"></script>
    </body>
</html>