<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/static/assets/i/favicon.ico">
        <link rel="stylesheet" href="/static/assets/mspa.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="Infinite MSPA"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://mspa.icetrixie.org"/>
        <meta property="og:image" content="/static/assets/i/candycorn.gif"/>
        <meta property="og:description" content="MSPA, except YOU create the pages!"/>
        <meta name="theme-color" content="#3aeb34">
        <title>{% block title %}{% endblock %}</title>
        {% block additional_styles %}{% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <div id="mspa-nav">
            <a href="/" style="color: #ffffff">INFINITE MS PAINT ADVENTURES</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/archive" style="color: #29ff4a">ARCHIVE</a> | <a href="./" style="color: #29ff4a">NEW READER?</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/archive" style="color: #39d5f6">MAP</a> | <a href="/archive" style="color: #39d5f6">LOG</a> | <a href="/" style="color: #39d5f6">SEARCH</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #f7f72a">SLOP</a> | <a href="/" style="color: #f7f72a">MUSIC</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="https://forum.icetrixie.org/" style="color: #ffb529">FORUMS</a> | <a href="/" style="color: #ffb529">SECRETS</a> | <a href="/credits" style="color: #ffb529">CREDITS</a>
        </div>
        <!-- Main comic -->
        <div id="main">
            <div id="content">
                {% if app_lock %}
                <p style="color: red;">Uploads are currently locked!</p>
                {% endif %}
                {% block comic_content %}There's nothing here!{% endblock %}
            </div>

            <div class="additional-content">
                <h2>Rules:</h2>
                <ol>
                    <li>Fieldball</li>
                    <li>No NSFW. Sex jokes are fine as long as they don't contain anything explicit.</li>
                    <li>Don't spam.</li>
                    <li>If it breaks MSPFA rules, don't post it (This will be mirrored to MSPFA.)</li>
                    <li>If you post a page that breaks the rules, either the image or the entire page will be deleted.</li>
                    <li>If you break the rules twice, you will be banned.</li>
                    <li>Duplicate images will automatically resolve to the original upload.</li>
                </ol>
                <h2>Info:</h2>
                <p>Welcome to IMSPA! This is like a typical MSPA, except YOU (yes, YOU!) are the author.</p>
                <p>Uploads will probably be locked after 1000 pages, and I'll mirror the whole adventure to MSPFA.</p>
                <p>Check out the code on <a href="https://github.com/ran4na/infinitemspa">Github</a>!</p>
            </div>
        </div>
        
        <!-- Footer -->
        <div class="bottombanner"><img src="/static/assets/i/bannerframe.png"></div>
        <div id="mspa-nav">
            <a href="/" style="color: #ffffff">INFINITE MS PAINT ADVENTURES</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/archive" style="color: #29ff4a">ARCHIVE</a> | <a href="/" style="color: #29ff4a">NEW READER?</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/archive" style="color: #39d5f6">MAP</a> | <a href="/archive" style="color: #39d5f6">LOG</a> | <a href="./" style="color: #39d5f6">SEARCH</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="/" style="color: #f7f72a">SLOP</a> | <a href="/" style="color: #f7f72a">MUSIC</a>
            <img src="/static/assets/i/candycorn.gif">
            <a href="https://forum.icetrixie.org/" style="color: #ffb529">FORUMS</a> | <a href="/" style="color: #ffb529">SECRETS</a> | <a href="/credits" style="color: #ffb529">CREDITS</a>
        </div>
        <div class="footer">
            <img src="/static/assets/i/title.png">
            &emsp;&nbsp;ghostopal @ 2025
        </div>
        <script src="/static/assets/mspa.js"></script>
    </body>
</html>