{% extends 'base.html' %}

{% block title %}Create new...{% endblock %}
{% block additional_styles %}
<link rel="stylesheet" href="/static/assets/tegaki.css" type="text/css">
{% endblock %}

{% block comic_content %}
    <h1>Infinite MSPA</h1>
    <p>By ghostopal_</p>
    <p>Made in like one night</p>
    <p>Uses <a href="https://github.com/desuwa/tegaki">Tegaki.js</a> by desuwa</p>
    <p>Inspired by: <a href="http://mspaintadventures.com/newindex.php?s=6">MS Paint Adventures</a> by Andrew Hussie</p>
{% endblock %}