<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/i/favicon.ico">
    <link rel="stylesheet" href="/static/assets/adm.css" type="text/css">
    <title>Admin portal</title>
</head>
<body>
    <form id="login-form" method="post" action="/login">
        <h1>Log in</h1>
        <label for="username">Username: </label><input type="text" name="username" required><br><br>
        <label for="password">Password: </label><input type="password" name="password" required><br><br>    
        <input type="submit"><br><br>
        <a href="/">Home</a>
    </form>
</body>
</html>