{% extends 'base.html' %}

{% block title %}Create new...{% endblock %}

{% block comic_content %}
    <h1>Create the next page:</h1>
    <form id="new-page-form">
        <p>Page title:</p>
        <input type="text" name="page_title" id="new-page-titlebox" placeholder="==> New page..."><br>
        <label for="panel_img">Panel image: </label><input type="file" name="panel_img" onchange="loadFile(event);" required><br>
        <!-- Image upload preview -->
        Preview:<br>
        <img id="output-preview" src="static/assets/i/defaultpanel.gif">
        
        <p>Panel text (bbcode):</p>
        <div id="panel-text-box">
            <textarea name="page_text" id="new-page-textarea" placeholder="enter text..." required></textarea>
        </div>
        <input type="submit"><br><br>
        <div id="submit-error-msg">Error: Your file is too big!</div><br>
    </form>    

    <script>
        function loadFile(event) {
            var preview_element = document.getElementById("output-preview");
            preview_element.src = URL.createObjectURL(event.target.files[0]);
            preview_element.onload = function() {
                URL.revokeObjectURL(output.src);
            }
        }
    </script>
{% endblock %}